/* Reset CSS para limpar margens e preenchimentos padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos básicos para o corpo da página */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

/* Estilos para o contêiner do formulário */
.col-md-6 {
    width: 50%; /* Defina a largura do formulário como 50% da largura do contêiner pai */
    margin: 50px auto; /* Centralize o formulário na página */
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Adicione uma sombra sutil */
}

/* Estilos para os títulos do formulário */
h2 {
    margin-bottom: 20px;
}

/* Estilos para os rótulos dos campos de entrada */
.form-label {
    font-weight: bold;
}

/* Estilos para os campos de entrada */
.form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s ease;
}

/* Estilos para o botão de envio */
.btn-primary {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #0056b3;
}

/* Estilos para o botão de envio quando desabilitado */
.btn-primary:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
